<% @page_title = "Add and Edit Your List - Wish List" %>
<p id="notice"><%= notice %></p>
<h1><%= @list.user.name %></h1>
<h2>
  <%= @list.name %>
</h2>

<p>
  <b>Description:</b>
  <%= @list.description %>
</p>
<table class="items">
  <h2>Wish List</h2>
  <%= link_to "Share List", '#share' %>
  <% @list.items.each do |item| %>
    <tr class="item">
      <td><%= item.name %></td>
      <td><%= link_to item.url, item.url, :target => "_blank" %></td>
      <td><%= link_to "Edit", edit_list_item_path(item.list_id,item) %> | <%= link_to "Del", list_item_path(item.list, item), :method => :delete, :confirm => "Are you sure you want to delete this item?"  %></td>
    </tr>
  <% end %>
</table>
<h3>Add An Item To Your List</h3>
<div class="add_item">
  <%= render "items/form" %>
</div>

<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'Show All Lists', lists_path %>

<a name="share"></a>
<div class="create_your_list">
  <h2>Share</h2>
  <p>Now it's time to pass around the list...</p>
  <p>Note:  To share on Facebook, click the Facebook logo.  From there you can use the drop down to either post ot your
  wall or to privately send to someone in a message.</p>
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
         addthis:url="<%= share_url %>"
         addthis:title="<%= share_title %>"
         addthis:description="<%= share_description %>">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ed7a3847263c31b"></script>
  <!-- AddThis Button END -->
  <p>
    <p>Your share url:  <%= link_to share_url, share_url, :target => "_blank" %></p>
  </p>
</div>
