<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
<% if false %>
  <p>Params:</p>
  <%= debug params %>
  <p>Session</p>
  <%= debug session %>
  <p>fb_cookies cookies</p>
  <%= debug @facebook_cookies %>
  <p>current_user</p>
  <%= current_user %>
<% end %>

</body>
</html>
